

.titlecard {
    margin-bottom: 24px;
    
}
.titlecard__group {
    .titlecard__title {
        a {
            color: #2F2D51;
        }
        padding-left: 0px;


    }
    .titlecard__text {
        text-transform: capitalize;
        padding-left: 0px;
    }
    padding: 0 20px 14px 20px;
    img {
        width: auto;
        margin-right: 10px;
    }
    .qty {
        margin: 0px;
        margin-right: 20px;
    }
    .time {
        display: inline-block;
        margin-right: 52px;
        @media (min-width:1200px) and (max-width:1400px) {
            margin-right: 15px;
        }
        @media (max-width: 410px) {
            margin-right: 0px;
        }
    }
    .price {
        // display: block;
        font-weight: 500;
        font-size: 20px;
        color: #2F2D51;
        @media (max-width: 1200px) {
            font-size: 18px;
        }
        @media (max-width: 410px) {
            display: none;
        }
    }
}
