
.item__card {
    display: block;
    position: relative;
    text-align: center;
    padding: 22px 45px !important;
    background: #FFFFFF;
    border: 1px solid #E7E7EC;
    box-shadow: 0px 8px 15px rgba(140, 152, 164, 0.1) !important;
    border-radius: 4px;
    text-align: center;
    margin-right: 30px;
    margin-bottom: 30px;
    transition: all 0.5s ease;
    overflow: hidden;
    &:hover {
        .item__add {
            transform: translateY(-25px);
        }
        .item__name {
            transform: translateY(-25px);
        }
        .item__price {
            transform: translateY(-25px);
        }
    }
    .item__add {
        position: absolute;
        bottom: 0px;
        left: 15%;
        right: 15%;
        padding: 16px 30px;
        background: #196ECD;
        border-radius: 4px;
        font-weight: normal;
        font-size: 14px;
        color: #FFFFFF;
        margin-top: 30px;
        transition: all 0.5s ease;
        transform: translateY(55px);

    }
    @media (min-width:1200px) and (max-width:1399px) {
        .item__add { 
            padding: 16px 38px;
        }
    }
    @media (max-width:1200px){
        // overflow:unset;
        transition: none;
        overflow: auto;
        .item__add { 
            transform: translateY(0px);
            bottom: 10px;
            padding: 10px 52px;
        }
        &:hover {
            .item__add { 
                transform: translateY(0px);
            }
            .item__name {
                transform: translateY(0px);
            }
            .item__price {
                transform: translateY(0px);
            }
            img {
                transform: scale(1.25);
            }
        }
        .item__price {
            margin-bottom: 40px;
        }

    }
    
}
.item__group {
    overflow: hidden;
}
.item__img {
    margin-bottom: 24px;
    img {
        transition: all 0.5s ease;

    }
}
.item__name {
    font-weight: 500;
    font-size: 18px;
    color: #2F2D51;
    margin: 0px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: all 0.5s ease;
}
.item__price {
    font-weight: normal;
    font-size: 16px;
    color: #77838F;
    margin: 0px;
    transition: all 0.5s ease;
    overflow: hidden;
}
