.rating {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    &:nth-child(1){
        padding-top: 10px;
    }
}
.rating__process {
    position: relative;
    width: 50%;
    height: 10px;
    background-color: #E7E7EC;
    
    span {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #4A8F9F;
        border-radius: 10px;
    }
}
.rating__icon{

    width: 50%;
    padding-left: 30px;
    img {

        margin-right: 20px;
    }
}