.sec-page__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 58px;
    text-align: center;
    text-transform: capitalize;
    color: #2F2D51;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 6px 0px;
}

.sec-page__text {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    text-transform: capitalize;
    color: #77838F;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 6px 0px;
}
.sec-page {
    padding-top: 210px;
    padding-bottom: 114px;
}
.sec-course {
    padding-top: 0px;
}